streamlit  # You can specify the Streamlit version you need
pandas      # Data manipulation library
requests    # HTTP library for making API requests
openpyxl    # For handling Excel files
openai
plotly
ipython
numpy
requests
beautifulsoup4